extends layout

block content
  div.row
    div.col-md-22
      div.container.px-2.px-sm-3
        div.row
          div.col-md-4
            div.card.mb-3.shadow-sm
              div.card-header
                if system_status.bitcoin == 'OK'
                  p.h2.h6.mb-0 Bitcoin   
                    i(class="fas fa-check fa-w-20", style="margin-top: 6px; color:green;")
                else
                  p.h2.h6.mb-0 Bitcoin
                    i(class="fas fa-times fa-w-20", style="margin-top: 6px; color:red;")
              div.card-body
                a(class='rounded bg-primary text-white px-2 py-1' href="./bitcoin_status") Status 
                | &nbsp; 
                a(class='rounded bg-primary text-white px-2 py-1' href="http://" + ip_internal + ":3002/node-status") Details 
                br
                br
                p #{bitcoin_message}

          div.col-md-4
            div.card.mb-3.shadow-sm
              div.card-header
                if system_status.lnd == 'OK'
                  p.h2.h6.mb-0 LND  
                    i(class="fas fa-check fa-w-20", style="margin-top: 6px; color:green;")
                else
                  p.h2.h6.mb-0 LND 
                    i(class="fas fa-times fa-w-20", style="margin-top: 6px; color:red;")
              div.card-body
                a(class='rounded bg-primary text-white px-2 py-1'  href="./lnd_start")
                  i(class="fas fa-play fa-w-20", style="margin-top: 6px;")
                | &nbsp; 
                a(class='rounded bg-primary text-white px-2 py-1' href="./lnd_stop")
                  i(class="fas fa-stop fa-w-20", style="margin-top: 6px;")
                | &nbsp; 
                a(class='rounded bg-primary text-white px-2 py-1' href="./lnd_status") Status
                |
                |
                br
                br
                |
                |
                a(class='rounded bg-primary text-white px-2 py-1'  href="./lnd_enable") Enable 
                  i(class="fas fa-toggle-on fa-w-20", style="margin-top: 6px;")
                | &nbsp; 
                a(class='rounded bg-primary text-white px-2 py-1' href="./lnd_disable") Disable 
                  i(class="fas fa-toggle-off fa-w-20", style="margin-top: 6px;")
                br
                br
                p #{lnd_message}

          div.col-md-4
            div.card.mb-3.shadow-sm
              div.card-header
                if system_status.tor == 'OK'
                  p.h2.h6.mb-0 Tor 
                    i(class="fas fa-check fa-w-20", style="margin-top: 6px; color:green;")
                else
                  p.h2.h6.mb-0 Tor 
                    i(class="fas fa-times fa-w-20", style="margin-top: 6px; color:red;")
              div.card-body
                a(class='rounded bg-primary text-white px-2 py-1' href="./tor_status") Status
                br
                br
                |
                |
                p #{tor_message}

          div.col-md-4
            div.card.mb-3.shadow-sm
              div.card-header
                if system_status.rtl == 'OK'
                  a(class='nav-bar-brand' href="http://" + ip_internal + ":3003/")
                    p.h2.h6.mb-0 RTL 
                      i(class="fas fa-check fa-w-20", style="margin-top: 6px; color:green;")
                else
                  a(class='nav-bar-brand' href="http://" + ip_internal + ":3003/")
                    p.h2.h6.mb-0 RTL 
                      i(class="fas fa-times fa-w-20", style="margin-top: 6px; color:red;")
              div.card-body
                a(class='rounded bg-primary text-white px-2 py-1'  href="./rtl_start")
                  i(class="fas fa-play fa-w-20", style="margin-top: 6px;")
                | &nbsp; 
                a(class='rounded bg-primary text-white px-2 py-1' href="./rtl_stop")
                  i(class="fas fa-stop fa-w-20", style="margin-top: 6px;")
                | &nbsp; 
                a(class='rounded bg-primary text-white px-2 py-1' href="./rtl_status") Status
                |
                |
                br
                br
                |
                |
                a(class='rounded bg-primary text-white px-2 py-1' href="./rtl_enable") Enable 
                  i(class="fas fa-toggle-on fa-w-20", style="margin-top: 6px;")
                | &nbsp; 
                a(class='rounded bg-primary text-white px-2 py-1' href="./rtl_disable") Disable 
                  i(class="fas fa-toggle-off fa-w-20", style="margin-top: 6px;")
                | &nbsp; 
                |
                |
                br
                br
                p #{rtl_message}

          div.col-md-4
            div.card.mb-3.shadow-sm
              div.card-header
                if system_status.btcrpcexplorer == 'OK'
                  a(class='nav-bar-brand' href="http://" + ip_internal + ":3002/")
                    p.h2.h6.mb-0 BTC-RPC-Explorer 
                      i(class="fas fa-check fa-w-20", style="margin-top: 6px; color:green;")
                else
                  a(class='nav-bar-brand' href="http://" + ip_internal + ":3002/")
                    p.h2.h6.mb-0 BTC-RPC-Explorer 
                      i(class="fas fa-times fa-w-20", style="margin-top: 6px; color:red;")
              div.card-body
                a(class='rounded bg-primary text-white px-2 py-1'  href="./btcrpcexplorer_start")
                  i(class="fas fa-play fa-w-20", style="margin-top: 6px;")
                | &nbsp; 
                a(class='rounded bg-primary text-white px-2 py-1' href="./btcrpcexplorer_stop")
                  i(class="fas fa-stop fa-w-20", style="margin-top: 6px;")
                | &nbsp; 
                a(class='rounded bg-primary text-white px-2 py-1' href="./btcrpcexplorer_status") Status
                |
                |
                br
                br
                |
                |
                a(class='rounded bg-primary text-white px-2 py-1' href="./btcrpcexplorer_enable") Enable 
                  i(class="fas fa-toggle-on fa-w-20", style="margin-top: 6px;")
                | &nbsp; 
                a(class='rounded bg-primary text-white px-2 py-1' href="./btcrpcexplorer_disable") Disable 
                  i(class="fas fa-toggle-off fa-w-20", style="margin-top: 6px;")
                |
                |
                br
                br
                p #{btcrpcexplorer_message}

          div.col-md-4
            div.card.mb-3.shadow-sm
              div.card-header
                if system_status.firewall == 'OK'
                  p.h2.h6.mb-0 Firewall 
                    i(class="fas fa-check fa-w-20", style="margin-top: 6px; color:green;")
                else
                  p.h2.h6.mb-0 Firewall 
                    i(class="fas fa-times fa-w-20", style="margin-top: 6px; color:red;")
              div.card-body
                a(class='rounded bg-primary text-white px-2 py-1' href="./firewall_enable") Enable 
                  i(class="fas fa-toggle-on fa-w-20", style="margin-top: 6px;")
                | &nbsp; 
                a(class='rounded bg-primary text-white px-2 py-1' href="./firewall_disable") Disable 
                  i(class="fas fa-toggle-off fa-w-20", style="margin-top: 6px;")
                | &nbsp; 
                a(class='rounded bg-primary text-white px-2 py-1' href="./firewall_status") Status
                br
                br
                p #{firewall_message}

          div.col-md-4
            div.card.mb-3.shadow-sm
              div.card-header
                if system_status.openvpn == 'OK'
                  p.h2.h6.mb-0 VPN 
                    i(class="fas fa-check fa-w-20", style="margin-top: 6px; color:green;")
                else
                  p.h2.h6.mb-0 VPN 
                    i(class="fas fa-times fa-w-20", style="margin-top: 6px; color:red;")
              div.card-body
                a(class='rounded bg-primary text-white px-2 py-1'  href="./openvpn_start")
                  i(class="fas fa-play fa-w-20", style="margin-top: 6px;")
                | &nbsp; 
                a(class='rounded bg-primary text-white px-2 py-1' href="./openvpn_stop")
                  i(class="fas fa-stop fa-w-20", style="margin-top: 6px;")
                | &nbsp; 
                a(class='rounded bg-primary text-white px-2 py-1' href="./openvpn_status") Status
                |
                |
                br
                br
                |
                |
                a(class='rounded bg-primary text-white px-2 py-1' href="./openvpn_enable") Enable 
                  i(class="fas fa-toggle-on fa-w-20", style="margin-top: 6px;")
                | &nbsp; 
                a(class='rounded bg-primary text-white px-2 py-1' href="./openvpn_disable") Disable 
                  i(class="fas fa-toggle-off fa-w-20", style="margin-top: 6px;")
                br
                br
                p #{openvpn_message}

        if system_status.electrum_activated === 'OK'
          div.card.mb-3.shadow-sm
            div.card-header
              if system_status.electrum === 'OK'
                p.h2.h6 Electrum 
                  i(class="fas fa-check fa-w-20", style="margin-top: 6px; color:green;")
              else
                p.h2.h6 Electrum 
                  i(class="fas fa-times fa-w-20", style="margin-top: 6px; color:red;")
            div.card-body
              a(class='rounded bg-primary text-white px-2 py-1'  href="./electrum_start")
                i(class="fas fa-play fa-w-20", style="margin-top: 6px;")
                | &nbsp; 
              a(class='rounded bg-primary text-white px-2 py-1' href="./electrum_stop")
                i(class="fas fa-stop fa-w-20", style="margin-top: 6px;")
                | &nbsp; 
              a(class='rounded bg-primary text-white px-2 py-1' href="./electrum_status") Status
                | &nbsp; 
              a(class='rounded bg-primary text-white px-2 py-1'  href="./electrum_disable") Disable 
                  i(class="fas fa-power-off fa-w-20", style="margin-top: 6px;")
              br
              br
              p #{electrum_message}

        div.card.mb-3.shadow-sm
          div.card-header
            p.h2.h6 Utilities
          div.card-body
            a(class='rounded bg-primary text-white px-2 py-1' href="./backup") Backup
            | &nbsp; 
            a(class='rounded bg-primary text-white px-2 py-1' href="./wifi_home") Wifi
            | &nbsp; 
            a(class='rounded bg-primary text-white px-2 py-1' href="./port_home") Port redirect
            | &nbsp; 
            a(class='rounded bg-primary text-white px-2 py-1' href="./upnp_home") UPnP
            | &nbsp; 
            a(class='rounded bg-primary text-white px-2 py-1'  href="./webconfig_restart") Bcube Web Restart
            br
            br
            p #{usefull_message}

        div.card.mb-3.shadow-sm
          div.card-header
            p.h2.h6 Marketplace
          div.card-body
            if system_status.electrum_activated === 'KO'
              a(class='rounded bg-primary text-white px-2 py-1'  href="./electrum_enable") Electrum 
                i(class="fas fa-power-off fa-w-20", style="margin-top: 6px;")

 
