block variables
doctype html
html
  head
    link(rel="shortcut icon", href="/favicon.ico")
    title 'Bitcoin Cube'
    style
      include ../public/css/bootstrap.css
      include ../public/css/bootstrap.min.css
  body
    h3.h3='Bitcoin Cube'
    p.lead IP internal: #{ip_internal}
    p.lead IP external: #{ip_external}
    div.container.px-2.px-sm-3
      if system_status.bitcoin = 'OK' 
        h2.h6 Bitcoin OK
      else
        h2.h6 Bitcoin KO
      |
      a(class='rounded bg-primary text-white px-2 py-1' href="./bitcoin_enable") Start
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="./bitcoin_disable") Stop
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="./bitcoin_status") Status
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="http://cubeBitcoin:3002/node-status") Details (BTC-RPC-Explorer)
      | 
      p #{bitcoin_message}

      if system_status.lnd = 'OK' 
        h2.h6 LND OK
      else
        h2.h6 LND KO
      |    
      a(class='rounded bg-primary text-white px-2 py-1'  href="./lnd_start") Start
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="./lnd_stop") Stop
      |    
      a(class='rounded bg-primary text-white px-2 py-1' href="./lnd_status") Status
      | 
      a(class='rounded bg-primary text-white px-2 py-1'  href="./lnd_enable") Enable
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="./lnd_disable") Disable
      | 
      p #{lnd_message}

      if system_status.electrum = 'OK' 
        h2.h6 Electrum OK
      else
        h2.h6 Electrum KO
      |
      a(class='rounded bg-primary text-white px-2 py-1'  href="./electrum_start") Start
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="./electrum_stop") Stop
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="./electrum_status") Status
      |    
      a(class='rounded bg-primary text-white px-2 py-1' href="./electrum_enable") Enable
      | 
      a(class='rounded bg-primary text-white px-2 py-1'  href="./electrum_disable") Disable
      | 
      p #{electrum_message}

      if system_status.tor = 'OK' 
        h2.h6 Tor OK
      else
        h2.h6 Tor KO
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="./tor_enable") Start
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="./tor_disable") Stop
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="./tor_status") Status
      | 
      p #{tor_message}

      if system_status.btcrpcexplorer = 'OK' 
        h2.h6 BTC-RPC-Explorer OK
      else
        h2.h6 BTC-RPC-Explorer KO
      | 
      a(class='rounded bg-primary text-white px-2 py-1'  href="./btcrpcexplorer_start") Start
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="./btcrpcexplorer_stop") Stop
      |    
      a(class='rounded bg-primary text-white px-2 py-1' href="./btcrpcexplorer_status") Status
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="./btcrpcexplorer_enable") Enable
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="./btcrpcexplorer_disable") Disable
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="http://cubeBitcoin:3002/") BTC-RPC-Explorer
      | 
      p #{btcrpcexplorer_message}

      if system_status.rtl = 'OK' 
        h2.h6 RTL OK
      else
        h2.h6 RTL KO
      | 
      a(class='rounded bg-primary text-white px-2 py-1'  href="./rtl_start") Start
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="./rtl_stop") Stop
      |    
      a(class='rounded bg-primary text-white px-2 py-1' href="./rtl_status") Status
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="./rtl_enable") Enable
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="./rtl_disable") Disable
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="http://cubeBitcoin:3003/") RTL
      | 
      p #{rtl_message}

      if system_status.firewall = 'OK' 
        h2.h6 Firewall OK
      else
        h2.h6 Firewall KO
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="./firewall_enable") Start
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="./firewall_disable") Stop
      | 
      a(class='rounded bg-primary text-white px-2 py-1' href="./firewall_status") Status
      | 
      p #{firewall_message}

      h2.h6 Utilities
      |
      a(class='rounded bg-primary text-white px-2 py-1' href="./backup") Backup
      |
      |
      a(class='rounded bg-primary text-white px-2 py-1' href="./wifi_home") Wifi
      |
      |
      a(class='rounded bg-primary text-white px-2 py-1' href="./port_home") Port redirect
      |
      |
      a(class='rounded bg-primary text-white px-2 py-1' href="./upnp_home") UPnP
      |
      p #{usefull_message}
