block variables
doctype html
html
  head
    //meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    title #{title}
    style
      include myapp_fnb.css
  body
    h1= title
    p IP internal: #{ip_internal}
    p IP external: #{ip_external}
    p Bitcoin
    |
    a(href="./bitcoin_enable") Enable
    | 
    a(href="./bitcoin_disable") Disable
    | 
    a(href="./bitcoin_status") Status
    | 
    a(href="http://127.0.0.1:3002/node-status") Details (BTC-RPC-Explorer)
    | 
    p #{bitcoin_message}

    p Electrum
    |
    a(href="./electrum_enable") Enable
    | 
    a(href="./electrum_disable") Disable
    | 
    a(href="./electrum_status") Status
    | 
    p #{electrum_message}

    p LND
    |    
    a(href="./lnd_enable") Enable
    | 
    a(href="./lnd_disable") Disable
    | 
    a(href="./lnd_status") Status
    | 
    p #{lnd_message}

    p Tor
    | 
    a(href="./tor_enable") Enable
    | 
    a(href="./tor_disable") Disable
    | 
    a(href="./tor_status") Status
    | 
    p #{tor_message}

    p BTC-RPC-Explorer 
    p USER (BTC-RCP-EXPLORER): #{rpcuser}
    p PASSWORD (BTC-RCP-EXPLORER): #{rpcpassword}
    | 
    a(href="./btcrpcexplorer_enable") Enable
    | 
    a(href="./btcrpcexplorer_disable") Disable
    | 
    a(href="./btcrpcexplorer_status") Status
    | 
    a(href="http://127.0.0.1:3002/") BTC-RPC-Explorer
    | 
    p #{btcrpcexplorer_message}

    p Backup
    |
    a(href="./backup") Backup
    | 
    p #{backup_message}
