extends layout

block content
  div(class="card mb-4 shadow-sm")
    br
    div.col-md-12
      div.container.px-2.px-sm-3
        div.row
          div.col-md-4
            div.card.mb-3.shadow-sm
              div.card-header
                if router_connection && system_status.bitcoin == 'OK'
                  span(style="float: left;") <b>Bitcoin</b>  
                    i(class="fas fa-check fa-w-20", style="margin-top: 6px; color:green;" title='Turned on')
                  a(href="https://bitcoin.org" class="text-secondary") 
                    span(style="float: right;") 
                      img(src='/Logo_Bitcoin_32_32.png', style="margin-top: 6px;") 
                else
                  span(style="float: left;") <b>Bitcoin</b>  
                    i(class="fas fa-times fa-w-20", style="margin-top: 6px; color:red;" title='Turned off')
                  a(href="https://bitcoin.org" class="text-secondary") 
                    span(style="float: right;") 
                      img(src='/Logo_Bitcoin_32_32.png', style="margin-top: 6px;") 
              div.card-body
                div.row
                  a(class='rounded bg-primary text-white px-2 py-1'  href="./bitcoin_restart" title='Service restart')
                    i(class="fas fa-sync fa-2x mr", style="margin-top: 6px;")
                  | &nbsp; 
                  a(class='rounded bg-primary text-white px-2 py-1' href="./bitcoin_status" title="Status")  
                    i(class="fas fa-info fa-2x mr", style="margin-top: 6px;")
                  | &nbsp; 
                  a(class='rounded bg-primary text-white px-2 py-1' href="http://" + ip_internal + ":3002/node-status" title="Details") 
                    i(class="fas fa-search-plus fa-2x mr", style="margin-top: 6px;")
                  if bitcoin_message
                    p #{bitcoin_message}

          div.col-md-4
            div.card.mb-3.shadow-sm
              div.card-header
                if system_status && system_status.lnd == 'OK'
                  a(class='nav-bar-brand' href="./lnd_home" title='Lightning Network Daemon')
                    span(style="float: left;") <b>LND</b> 
                      i(class="fas fa-check fa-w-20", style="margin-top: 6px; color:green;" title='Turned on') 
                  a(href="https://lightning.engineering/" class="text-secondary") 
                    span(style="float: right;") 
                      img(src='/Logo_LND_32.jpg', style="margin-top: 6px;") 
                else
                  a(class='nav-bar-brand' href="./lnd_home")
                    span(style="float: left;") <b>LND</b> 
                      i(class="fas fa-times fa-w-20", style="margin-top: 6px; color:red;" title='Turned off')
                  a(href="https://lightning.engineering/" class="text-secondary") 
                    span(style="float: right;") 
                      img(src='/Logo_LND_32.jpg', style="margin-top: 6px;") 
              div.card-body
                div.row
                  a(class='rounded bg-primary text-white px-2 py-1'  href="./lnd_restart" title='Service restart')
                    i(class="fas fa-sync fa-2x mr", style="margin-top: 6px;")
                  | &nbsp; 
                  if system_status && system_status.lnd != 'OK'
                    a(class='rounded bg-primary text-white px-2 py-1'  href="./lnd_start")
                      i(class="fas fa-play fa-2x mr", style="margin-top: 6px;")
                    | &nbsp; 
                  if system_status && system_status.lnd == 'OK'
                    a(class='rounded bg-primary text-white px-2 py-1' href="./lnd_stop" title='Service stop')
                      i(class="fas fa-stop fa-2x mr", style="margin-top: 6px;")
                    | &nbsp; 
                  a(class='rounded bg-primary text-white px-2 py-1' href="./lnd_status" title="Status")
                    i(class="fas fa-info fa-2x mr", style="margin-top: 6px;")
                  | &nbsp; 
                  a(class='rounded bg-primary text-white px-2 py-1'  href="./lnd_enable" title='Enable service')   
                    i(class="fas fa-toggle-on fa-2x mr", style="margin-top: 6px;")
                  | &nbsp; 
                  a(class='rounded bg-primary text-white px-2 py-1' href="./lnd_disable" title='Disable service')   
                    i(class="fas fa-toggle-off fa-2x mr", style="margin-top: 6px;")
                  | &nbsp; 
                  a(class='rounded bg-primary text-white px-2 py-1'  href="./lnd_home" title="Wallet LND")  
                    i(class="fas fa-wallet fa-2x mr", style="margin-top: 6px;")
                  if lnd_message
                    p #{lnd_message}

          div.col-md-4
            div.card.mb-3.shadow-sm
              div.card-header
                if system_status && system_status.tor == 'OK'
                  span(style="float: left;") <b>Tor</b>  
                    i(class="fas fa-check fa-w-20", style="margin-top: 6px; color:green;" title='Turned on')
                  a(href="https://www.torproject.org/" class="text-secondary") 
                    span(style="float: right;") 
                      img(src='/Logo_tor_32.jpg', style="margin-top: 6px;") 
                else
                  span(style="float: left;") <b>Tor</b>  
                    i(class="fas fa-times fa-w-20", style="margin-top: 6px; color:red;" title='Turned off')
                  a(href="https://www.torproject.org/" class="text-secondary") 
                    span(style="float: right;") 
                      img(src='/Logo_tor_32.jpg', style="margin-top: 6px;") 
              div.card-body
                div.row
                  a(class='rounded bg-primary text-white px-2 py-1'  href="./tor_restart" title='Service restart')
                    i(class="fas fa-sync fa-2x mr", style="margin-top: 6px;")
                  | &nbsp; 
                  a(class='rounded bg-primary text-white px-2 py-1' href="./tor_status" title="Status")
                    i(class="fas fa-info fa-2x mr", style="margin-top: 6px;")
                  if tor_message
                    p #{tor_message}

          div.col-md-4
            div.card.mb-3.shadow-sm
              div.card-header
                if system_status && system_status.btcrpcexplorer == 'OK'
                  a(class='nav-bar-brand' href="./btcrpcexplorer_home" title="BTC-RPC-Explorer. Database-free, self-hosted Bitcoin explorer, via RPC")
                    span(style="float: left;") <b>Bitcoin explorer</b>  
                      i(class="fas fa-check fa-w-20", style="margin-top: 6px; color:green;" title='Turned on')
                  a(href="https://github.com/janoside/btc-rpc-explorer" class="text-secondary") 
                    span(style="float: right;") 
                      i(class="fas fa-home fa-2x mr", style="margin-top: 6px;") 
                else
                  a(class='nav-bar-brand' href="./btcrpcexplorer_home")
                    span(style="float: left;") <b>Bitcoin explorer</b>  
                      i(class="fas fa-times fa-w-20", style="margin-top: 6px; color:red;" title='Turned off')
                  a(href="https://github.com/janoside/btc-rpc-explorer" class="text-secondary") 
                    span(style="float: right;") 
                      i(class="fas fa-home fa-2x mr", style="margin-top: 6px;") 
              div.card-body
                div.row
                  a(class='rounded bg-primary text-white px-2 py-1'  href="./btcrpcexplorer_restart" title='Service restart')
                    i(class="fas fa-sync fa-2x mr", style="margin-top: 6px;")
                  | &nbsp;
                  if system_status && system_status.btcrpcexplorer != 'OK'
                    a(class='rounded bg-primary text-white px-2 py-1'  href="./btcrpcexplorer_start")
                      i(class="fas fa-play fa-2x mr", style="margin-top: 6px;") 
                    | &nbsp; 
                  if system_status && system_status.btcrpcexplorer == 'OK'
                    a(class='rounded bg-primary text-white px-2 py-1' href="./btcrpcexplorer_stop" title='Service stop')
                      i(class="fas fa-stop fa-2x mr", style="margin-top: 6px;") 
                  | &nbsp; 
                  a(class='rounded bg-primary text-white px-2 py-1' href="./btcrpcexplorer_status" title="Status") 
                    i(class="fas fa-info fa-2x mr", style="margin-top: 6px;") 
                  | &nbsp; 
                  a(class='rounded bg-primary text-white px-2 py-1' href="./btcrpcexplorer_enable" title='Enable service')  
                    i(class="fas fa-toggle-on fa-2x mr", style="margin-top: 6px;") 
                  | &nbsp; 
                  a(class='rounded bg-primary text-white px-2 py-1' href="./btcrpcexplorer_disable" title='Disable service')  
                    i(class="fas fa-toggle-off fa-2x mr", style="margin-top: 6px;") 
                  if btcrpcexplorer_message
                    p #{btcrpcexplorer_message}

          div.col-md-4
            div.card.mb-3.shadow-sm
              div.card-header
                if system_status && system_status.wireguard == 'OK'
                  a(class='nav-bar-brand' href="./wireguard_home" title="VPN with WireGuard application")
                    span(style="float: left;") <b>VPN</b>  
                      i(class="fas fa-check fa-w-20", style="margin-top: 6px; color:green;" title='Turned on')
                  a(href="https://www.wireguard.com/" class="text-secondary") 
                    span(style="float: right;") 
                      img(src='/Logo_wireguard_32.jpg', style="margin-top: 6px;") 
                else
                  a(class='nav-bar-brand' href="./wireguard_home")
                    span(style="float: left;") <b>VPN</b>  
                      i(class="fas fa-times fa-w-20", style="margin-top: 6px; color:red;" title='Turned off')
                  a(href="https://www.wireguard.com/" class="text-secondary") 
                    span(style="float: right;") 
                      img(src='/Logo_wireguard_32.jpg', style="margin-top: 6px;") 
              div.card-body
                div.row
                  a(class='rounded bg-primary text-white px-2 py-1'  href="./wireguard_restart" title='Service restart')
                    i(class="fas fa-sync fa-2x mr", style="margin-top: 6px;")
                  | &nbsp; 
                  if system_status && system_status.wireguard != 'OK'
                    a(class='rounded bg-primary text-white px-2 py-1'  href="./wireguard_start") 
                      i(class="fas fa-play fa-2x mr", style="margin-top: 6px;")
                    | &nbsp; 
                  if system_status && system_status.wireguard == 'OK'
                    a(class='rounded bg-primary text-white px-2 py-1' href="./wireguard_stop" title='Service stop') 
                      i(class="fas fa-stop fa-2x mr", style="margin-top: 6px;")
                  | &nbsp; 
                  a(class='rounded bg-primary text-white px-2 py-1' href="./wireguard_status" title="Status")
                    i(class="fas fa-info fa-2x mr", style="margin-top: 6px;")
                  | &nbsp; 
                  a(class='rounded bg-primary text-white px-2 py-1' href="./wireguard_enable" title='Enable service')   
                    i(class="fas fa-toggle-on fa-2x mr", style="margin-top: 6px;")
                  | &nbsp; 
                  a(class='rounded bg-primary text-white px-2 py-1' href="./wireguard_disable" title='Disable service')   
                    i(class="fas fa-toggle-off fa-2x mr", style="margin-top: 6px;")
                if wireguard_message
                  div.row
                    p #{wireguard_message}

          div.col-md-4
            div.card.mb-3.shadow-sm
              div.card-header
                if system_status && system_status.firewall == 'OK'
                  span(style="float: left;") <b>Firewall</b> 
                    i(class="fas fa-check fa-w-20", style="margin-top: 6px; color:green;" title='Turned on')
                else
                  span(style="float: left;") <b>Firewall</b> 
                    i(class="fas fa-times fa-w-20", style="margin-top: 6px; color:red;" title='Turned off')
              div.card-body
                div.row
                  a(class='rounded bg-primary text-white px-2 py-1'  href="./firewall_restart" title='Service restart')
                    i(class="fas fa-sync fa-2x mr", style="margin-top: 6px;")
                  | &nbsp;
                  a(class='rounded bg-primary text-white px-2 py-1' href="./firewall_status" title="Status")
                    i(class="fas fa-info fa-2x mr", style="margin-top: 6px;")
                  | &nbsp;
                  a(class='rounded bg-primary text-white px-2 py-1' href="./firewall_enable" title='Enable service')
                    i(class="fas fa-toggle-on fa-2x mr", style="margin-top: 6px;")
                  | &nbsp;
                  a(class='rounded bg-primary text-white px-2 py-1' href="./firewall_disable" title='Disable service')
                    i(class="fas fa-toggle-off fa-2x mr", style="margin-top: 6px;")
                  | &nbsp;
                if firewall_message
                  div.row
                    p #{firewall_message}

          div.col-md-4
            div.card.mb-3.shadow-sm
              div.card-header
                if system_status && system_status.rtl == 'OK'
                  a(class='nav-bar-brand' href="./lnd_wallet_home" title="Ride The Lightning - A full function web browser app for LND and C-Lightning")
                    span(style="float: left;") <b>LND WebUI</b> 
                      i(class="fas fa-check fa-w-20", style="margin-top: 6px; color:green;" title='Turned on')
                  a(href="https://github.com/Ride-The-Lightning/RTL" class="text-secondary") 
                    span(style="float: right;") 
                      i(class="fas fa-home fa-2x mr", style="margin-top: 6px;")
                else
                  a(class='nav-bar-brand' href="./lnd_wallet_home")
                    span(style="float: left;") <b>LND WebUI</b>  
                      i(class="fas fa-times fa-w-20", style="margin-top: 6px; color:red;" title='Turned off')
                  a(href="https://github.com/Ride-The-Lightning/RTL" class="text-secondary") 
                    span(style="float: right; margin-top: -20px;") 
                      i(class="fas fa-home fa-2x mr", style="margin-top: 6px;")
              div.card-body
                div.row
                  a(class='rounded bg-primary text-white px-2 py-1'  href="./rtl_restart" title='Service restart')
                    i(class="fas fa-sync fa-2x mr", style="margin-top: 6px;")
                  | &nbsp; 
                  if system_status && system_status.rtl != 'OK'
                    a(class='rounded bg-primary text-white px-2 py-1'  href="./rtl_start")
                      i(class="fas fa-play fa-2x mr", style="margin-top: 6px;")
                    | &nbsp; 
                  if system_status && system_status.rtl == 'OK'
                    a(class='rounded bg-primary text-white px-2 py-1' href="./rtl_stop" title='Service stop')
                      i(class="fas fa-stop fa-2x mr", style="margin-top: 6px;")
                  | &nbsp; 
                  a(class='rounded bg-primary text-white px-2 py-1' href="./rtl_status" title="Status")
                    i(class="fas fa-info fa-2x mr", style="margin-top: 6px;")
                  | &nbsp; 
                  a(class='rounded bg-primary text-white px-2 py-1' href="./rtl_enable" title='Enable service')  
                    i(class="fas fa-toggle-on fa-2x mr", style="margin-top: 6px;")
                  | &nbsp; 
                  a(class='rounded bg-primary text-white px-2 py-1' href="./rtl_disable" title='Disable service')  
                    i(class="fas fa-toggle-off fa-2x mr", style="margin-top: 6px;")
                  | &nbsp; &nbsp; &nbsp; &nbsp;  
                  br
                  p(style="font-size: 12px;") Pass default: #{password} 
                  if rtl_message
                    br
                    p #{rtl_message}

        div.card.mb-3.shadow-sm
          div.card-header
            span(style="float: left;") <b>Utilities</b>  
          div.card-body
            div.row
              a(class='rounded bg-primary text-white px-2 py-1' href="./wifi_home" title="Wifi")  
                i(class="fas fa-wifi fa-2x mr", style="margin-top: 6px;")
              | &nbsp; 
              a(class='rounded bg-primary text-white px-2 py-1' href="./glances_start" title='Monitoring with Glances. Only 120 seconds')
                i(class="fas fa-tv fa-2x mr", style="margin-top: 6px;")
              | &nbsp; 
              a(class='rounded bg-primary text-white px-2 py-1' href="./settings_home" title="Settings")  
                i(class="fas fa-cog fa-2x mr", style="margin-top: 6px;")
              | &nbsp; 
              a(class='rounded bg-primary text-white px-2 py-1' href="./backup_home" title="Backup")  
                i(class="far fa-save fa-2x mr", style="margin-top: 6px;")
              | &nbsp; 

              if usefull_message
                br
                br
                p #{usefull_message}

