block variables
doctype html
html
  head
    link(rel="shortcut icon", href="/favicon.ico")
    title 'Bcube'
    style
      include ../public/css/bootstrap.css
      include ../public/css/bootstrap.min.css
  body
    h3.h3='Bitcoin Cube'
    p.lead IP internal: #{ip_internal} 
    p.lead IP external: #{ip_external}
    if (user)
      p.lead User: #{user}
      p.lead Password: #{password}

    block content


