block variables
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="csrf-token", content=csrfToken)
    link(rel="shortcut icon", href="/favicon.ico")
    title 'Bcube'
    style
      include ../public/css/bootstrap.css
      include ../public/css/bootstrap.min.css
  body
    script(defer, src="/js/fontawesome.min.js", integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7")
    div.container.px-2.px-sm-3
      div.row
        div.col-md-9
          a(class="navbar-brand", href="/")
            p.h3='Bcube ' 
              i(class="fab fa-bitcoin fa-w-20", style="margin-top: 6px;")

        div(id="sub-menu", class="container mb-2 pt-2 d-lg-block d-none border-top", style="")
          ul(class="nav")
            li(class="nav-item font-weight-bold")
              a(href="http://" + ip_internal + ":3002/", class="nav-link px-2 text-decoration-underline")
                span BTC-RPC-Explorer
            li(class="nav-item font-weight-bold")
              a(href="http://" + ip_internal + ":3003/", class="nav-link px-2 text-decoration-underline")
                span RTL
            li(class="nav-item font-weight-bold")
              a(href="./wireguard_home", class="nav-link px-2 text-decoration-underline")
                span VPN - WireGuard
      hr

      div.row
        div.col-md-3
          if router_connection && router_connection.connection == "On"
            span.pull-right.font-weight-bold Router:  
              i(class="fas fa-check fa-w-20", style="margin-top: 6px; color:green;")
          else
            span.text-right.font-weight-bold Router: 
              i(class="fas fa-times fa-w-20", style="margin-top: 6px; color:red;")
        div.col-md-3
          if internet_connection && internet_connection.connection == "On"
            span.pull-right.font-weight-bold Internet:  
              i(class="fas fa-check fa-w-20", style="margin-top: 6px; color:green;")
          else
            span.text-right.font-weight-bold  Internet: 
              i(class="fas fa-times fa-w-20", style="margin-top: 6px; color:red;")
        div.col-md-3
          if bitcoin_connection && bitcoin_connection.status == "UP"
            span.pull-right.font-weight-bold Bitcoin network: 
              i(class="fas fa-check fa-w-20", style="margin-top: 6px; color:green;")
          else
            span.text-right.font-weight-bold  Bitcoin network: 
              i(class="fas fa-times fa-w-20", style="margin-top: 6px; color:red;")
      br
      div.row
        div.col-md-3
          if (user)
            p.font-weight-bold User: 
              input(type="text" id="myUser" name="user" value="user" style="border: none;" readonly)  
              |
        div.col-md-3
          if (password)
            p.font-weight-bold Pass: 
              input(type="password" id="myPassword" name="password" value="password" style="border: none; width: 40%;" readonly)
              a(href="javascript:void(0)" onclick=("javascript:var x = document.getElementById('myPassword'); if (x.type === 'password') { x.type = 'text'; } else { x.type = 'password';}"))
                  i(class="far fa-eye fa-w-20", style="margin-top: 6px;")
        div.col-md-3
          if (ip_external)
            p.font-weight-bold Public IP: #{ip_external}
        div.col-md-3
          if (ip_internal)
            p.font-weight-bold Internal IP: #{ip_internal} 

      div.row
        div.col-md-3
          if (system_info && system_info.CPU)
              p.font-weight-bold CPU: #{system_info.CPU}%
        div.col-md-3
          if (system_info && system_info.RAM)
            p.font-weight-bold RAM: #{system_info.RAM}%
        div.col-md-3
          if (system_info && system_info.HDD)
            p.font-weight-bold HDD: #{system_info.HDD}%
        div.col-md-3
          if (system_info && system_info.TEMP)
            p.font-weight-bold Temperature: #{system_info.TEMP} ºC

      block content

      include ./includes/foot
