extends layout_mini

block content
  div(class="card mb-4 shadow-sm")
    br
    div.col-md-12
      div.container.px-2.px-sm-3
        div.row
          div.col-md-9
            div.container.px-2.px-sm-3
              div.card.mb-4.shadow-sm
                div.card-header
                  p.h2.h6.mb-0 System ports
                div.card-body
                  div(class="table-responsive")
                    table(class="table text-left mb-5 mb-lg-0")
                      thead
                        tr
                          th Service
                          th Port
                        tbody
                            tr(class="monospace")
                              td Bitcoin
                              td #{system_ports.bitcoin_port}
                            tr(class="monospace")
                              td LND
                              td #{system_ports.lnd_port}
                            tr(class="monospace")
                              td BTC-RPC-Explorer
                              td #{system_ports.btcrpcexplorer_port}
                            tr(class="monospace")
                              td RTL
                              td #{system_ports.rtl_port}
                            tr(class="monospace")
                              td TOR
                              td #{system_ports.tor_port}
                            tr(class="monospace")
                              td WireGuard 
                              td #{system_ports.wireguard_port} UDP
                            tr(class="monospace")
                              td OpenVPN 
                              td #{system_ports.openvpn_port} UDP
                            tr(class="monospace")
                              td NGINX 
                              td #{system_ports.openvpn_port} 
                  p #{usefull_message}

          div.col-md-3
            div.container.px-2.px-sm-3
              div.card.mb-4.shadow-sm
                div.card-header
                  h2.h6 Help
                div.card-body
                  p 


